<h1>Cadastrar Filme</h1>

<%= form_with(model: @movie, local: true) do |form| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "erro") %> impediu que o filme fosse cadastrado:</h2>

      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form', form: form %>

  <div class="actions">
    <%= form.submit "Cadastrar Filme" %>
  </div>
  
    
 <% end %>

<%= link_to 'Voltar', movies_path %>
